* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--White);
    font-family: 'League Spartan';
    font-size: 15px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;   
}

main{
    /* border: solid 2px red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98%;
}

.statistics{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    color: var(--Dark-Grayish-Magenta);
}
.intro{
    width: 40%;
    font-size: 20px;
    line-height: 27px;
}
h1{
    color: var(--Very-Dark-Magenta);
    font-size: 60px;    
    margin-bottom: 30px;
    line-height: normal;
}
.score{
    width: 50%;
    margin-top: 30px;
    font-size: 17px;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.score_1{
    width: 70%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta);
}

.score_2{
    width: 70%;
    height: 60px;
    margin: 20px 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta);
}

.score_3{
    width: 70%;
    height: 60px;
    margin: 0 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta);
}

.img_score_1{
    margin-left: 30px;
}

.img_score_2{
    margin-left: 30px;
}

.img_score_3{
    margin-left: 30px;
}

.p_score{
    margin-left: 15px;
}

.reference{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    color: var(--White);
}

.ref_1{
    width: 40%;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}

.ref_2{
    width: 40%;
    margin-top: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}

.ref_3{
    width: 40%;
    margin-top: 40px;
    margin-bottom: -20px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}
.img{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 15px;
}

.img_perfil{
    border-radius: 100%;
    width: 50px;
}

.name{
    line-height: 20px;
}

.ref{
    line-height: 26px;
    font-size: 18px;
    margin-top: 25px;   
}

.attribution{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--Very-Dark-Magenta);
}

a{
    color: var(--Dark-Grayish-Magenta);
    text-decoration: none;
}

a:hover{
    color: var(--Soft-Pink);
}

@media (max-width: 1368px/* , 1024px */){
    main{
        width: 92%;
    }

    .statistics {
        margin-bottom: 31px;
    }

    .intro {
        font-size: 15px;
        line-height: 25px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .score {
        width: 52%;
        margin-top: 15px;
        font-size: 15px;
        color: var(--Very-Dark-Magenta);
        font-weight: 700;
    }
}

@media (max-width: 769px){
    main {
        width: 85%;
    }
 

h1 {
    font-size: 31px;
    margin-bottom: 25px;
}

.score {
    width: 60%;
    margin-top: 10px;
    font-size: 11px;
}

.score_1 {
    width: 75%;
    height: 40px;
}

.score_2 {
    width: 75%;
    height: 40px;
    margin: 12px 60px;
}

.score_3 {
    width: 75%;
    height: 40px;
}

.reference {
    gap: 20px;
    margin-top: 0px;
}

.img_perfil {
    width: 47px;
}

.name {
    line-height: 18px;
}

.img{
    margin-top: 0px;
    gap: 20px;
}

.ref {
    line-height: 16px;
    font-size: 11px;
    margin-top: 10px;
}
}

@media (max-width: 426px){

    body{
        height: auto;
    }

    main {
        width: 90%;
        height: auto;
    }

    .statistics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 15px auto;
    }

    .intro {
        font-size: 16px;
        margin-bottom: 30px;
        width: 80%;
        text-align: center;
    }

    h1 {
        font-size: 36px;
        margin-top: 50px;
        margin-bottom: 23px;
    }

    .score {
        width: 90%;
        margin-top: 0px;
        font-size: 15px;
    }

    .score_1 {
        width: 100%;
        height: 50px;
    }

    .score_2 {
        width: 100%;
        height: 50px;
        margin: 12px 0px;
    }

    .score_3 {
        width: 100%;
        height: 50px;
        margin: 0px;
    }

    .p_score {
        margin: 0 auto;
    }

    .img_score {
        width: 13px;
    }

    .reference{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 35px 0;
    }

    .ref_1 {
        width: 80%;
        margin: auto;
    }

    .ref_2 {
        width: 80%;
        margin-top: 5px;
    }

    .ref_3 {
        width: 80%;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .ref{
        font-size: 14px;
    }

}

@media (max-width: 376px){

    .intro{
        font-size: 13px;
    }
    .score_1 {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .score_2 {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .score_3 {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_score_1{
        margin: auto;
    }
    
    .img_score_2{
        margin: auto;
    }
    
    .img_score_3{
        margin: auto;
    }

    .img_score{
        margin: 0 3px;
    }

    .p_score{
        padding: 5px;
    }

}
