* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--White);
    font-family: 'League Spartan';
    font-size: 15px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;   
}

main{
    /* border: solid 2px red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98%;
}

.statistics{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    color: var(--Dark-Grayish-Magenta);
}
.intro{
    width: 40%;
    font-size: 20px;
    line-height: 27px;
}
h1{
    color: var(--Very-Dark-Magenta);
    font-size: 60px;    
    margin-bottom: 30px;
    line-height: normal;
}
.score{
    width: 50%;
    margin-top: 30px;
    font-size: 17px;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.img_score{
}

.score_1{
    width: 70%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta);
}

.score_2{
    width: 70%;
    height: 60px;
    margin: 20px 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta);
}

.score_3{
    width: 70%;
    height: 60px;
    margin: 0 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta);
}

.p_score{
    margin-left: 30px;
}

.reference{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    color: var(--White);
}

.ref_1{
    width: 40%;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}

.ref_2{
    width: 40%;
    margin-top: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}

.ref_3{
    width: 40%;
    margin-top: 40px;
    margin-bottom: -20px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}
.img{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 15px;
}

.img_perfil{
    border-radius: 100%;
    width: 50px;
}

.name{
    line-height: 20px;
}

.ref{
    line-height: 26px;
    font-size: 18px;
    margin-top: 25px;   
}

.attribution{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--Very-Dark-Magenta);
}

a{
    color: var(--Dark-Grayish-Magenta);
    text-decoration: none;
}

a:hover{
    color: var(--Soft-Pink);
}

@media (max-width: 1024px){
    main{
        width: 97%;
    }
}